<h1>Add a New Timesheet Entry</h1>
<%= form_for @timesheet_entry do |f| %>

  <%= f.label :date %>
  <%= f.text_field :date %>
  <br></br>

  <%= f.label :name %>
  <%= f.select :name,options_for_select([["Ting"],["Fei"], ["Yifei"], ["David"], ["Hilary"]), include_blank:true %>
  <br></br>

  <%= f.label :timein %>
  <%= f.text_field :timein %>
  <br></br>

  <%= f.label :timeout %>
  <%= f.text_field :timeout %>
  <br></br>

  <%= f.submit%>

<% end %>
