<h1> Create a new Timesheet Report </h1>

<%= form_for @timesheetreport do |f| %>

<%= f.label "Period Start" %>

<%= f.date_select :periodstart, :order => [:day, :month, :year] %>
<br>
<br>
<%= f.label "Period End" %>

<%= f.date_select :periodend, :order => [:day, :month, :year] %>


<% end %>
