<!DOCTYPE html>
<html>
  <head>
    <title>Cfdprojectalex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to 'Logout', '/logout', method: :delete %> &nbsp &nbsp
  <%= link_to 'Add a Timesheet Entry', timesheet_entries_path, class:'button' %> &nbsp &nbsp
  <%= link_to 'View Timesheet Reports', timesheetreports_path, class:'button' %>

    <%= yield %>
  </body>
</html>
